* {
    padding:0;/* 内边距 */
    margin:0;/* 外边距 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
* ul{
    list-style-type: none;
}
header{
    height: 62px;/* 高度 */
    width: 100%;/* 宽度 */
}
header a{
    color:#fff;/* 字体颜色 */
	text-decoration: none;
}
header a:hover{
    color:#FC0;/* 字体颜色 */
	text-decoration: none;
}
.db-dh1{
	width:100%;
	position: fixed;
	height:62px;
	background-image: url(img/hengfu.png);
	z-index:99;
	font-family: 黑体;
}
.db-dh2{
	margin-left: 53%;
	padding-top: 10px;
	float: left;
	border: 1px solid #999;
	font-size: 20px;
	width: 450px;
	text-align: center;
	height: 62px;
}
.menu{
	background-color:#FFD700;
	width:20%;
	float:left;
	display:flex;
	justify-content: center;
	align-items: center;
}
.menu a{
	text-decoration: none;
	color:black;
}
.content{
	background-color:#EEEEEE;
	width:80%;
	float:left;
}
.content a{
	text-decoration: none;
	color: #0000cc;
}
a:hover {
	text-decoration: underline;
}